# User Settings
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

/Assets/Packs/

!/Assets/Textures

# Unity Generated
sysinfo.txt
*.stackdump
*.ai
*.aif
*.aiff
*.app
*.avif
*.c
*.data
*.db
*.dds
*.doc
*.dotx
*.doxygen
*.exe
*.exp
*.exr
*.gz
*.ico
*.jpeg
*.jpg
*.lnk
*.midi
*.mpeg
*.mpg
*.otf
*.pdb
*.pfx
*.ppt
*.pptx
*.rns
*.rtf
*.shader
*.so
*.sqlite
*.svd
*.tga
*.ttf
*.txt
*.unitypackage
*.usdz
*.vsdx
*.wav
*.wma
*.xcf
*.xls
*.xlsx
*.zip
*.meta
*.mov
*.mp4
*.preset
*.prefab
*.fbx
*.png

# Compiled Output
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json

# Node
node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
.DS_Store
.vs/
.vscode/

/[Aa]ssets/Materials/Models/